$color-primary: #ee8c2b;
$color-secondary: #55b6f6;

$white: rgb( 248, 248, 248);
$black: rgb( 13, 13, 13);

$font-title: 'Lexend Mega', sans-serif;
$font-sentense: 'Noto Sans JP', sans-serif;

body {
  background-color: $white;
}
